C_ConfigDirectory  = 'ESP/conf'
C_RuntimeDirectory = 'ESP/rt'
C_HandlerDirectory = 'ESP/handlers'

C_TmpDirectory     = '/tmp/'

C_DeviceList       = 'DeviceList'

C_MpyCross         = 'mpy-cross'
C_Esptool          = 'esptool.py'
